*{
   margin: 0;
   padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-width: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.logo{
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  width: 50%;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 0 2vw;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #ccc;
}

.table_container{
  width: 90%;
  min-height: 100px;
  min-width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

table {
	width: 750px;
	border-collapse: collapse;
	margin:50px auto;
	}

th {
	background: #588157;
	color: white;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
}

.delete_button{
  border: 1px black solid;
  width: 100%;
  font-weight: bold;
}

.delete_button:hover{
  background: white;
  cursor: pointer;
}

.totalPrice_container{
  border-top: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 90%;
  min-height: 50px;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.totalPrice{
  font-size: 30px;
  font-weight: bold;
}
