*{
   margin: 0;
   padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  padding: 10px 0px;
  margin-top: 0px;
  z-index: 10;
  background: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 20px -6px #222;
}

.image_container{
  margin-bottom: 100px;
}

.banner_image{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.banner_title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  color: white;
  background: black;
  padding: 20px 40px;
}

.logo{
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  width: 50%;
  color: black;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 0 2vw;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #ccc;
}

.main_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 200px;
  min-height: 300px;
  min-width: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-top: 2px black solid;
}

.main_container div:last-child {
  margin-right: auto;
}

.title_container{
  width: 100%;
  height: auto;
}

.subtitle{
  width: 100%;
  font-size: 0.95em;
  text-align: center;
  letter-spacing: 0.4em;
}

.title{
  text-align: center;
  font-size: 4em;
  letter-spacing: 0.2em;
}

.rest_image{
  width: 150px;
  height: 150px;
  margin: 20px;
  object-fit: contain;
}

.rest_container{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.category h1{
  padding-left: 100px;
  margin-top:100px;
  margin-bottom: 15px;
}

#loading_container{
position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
  z-index: 100;
}

#loading {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #283618;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
