*{
   margin: 0;
   padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  padding: 15px 0px;
  margin-top: 0px;
  z-index: 10;

  background: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.logo{
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  width: 50%;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 0 2vw;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #ccc;
}

.main_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 90%;
  min-height: 500px;
  min-width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu_image{
  max-width: 200px;
  height: 200px;
  object-fit:cover
}

.menu_name{
  text-align: center;
}

.menu_price{
  text-align: center;
}

button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #495057;
  color: white;
  font-size: 14px;
  border: 1px solid #495057;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: grey;
}

.cart_quantity{
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  color: white;
  width: 20px;
  height: 100%;
  background-color: #283618;
  border-radius: 70px;
  transition: background-color 0.5s ease-in;
}

#loading_container{
position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
  z-index: 100;
}

#loading {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #283618;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#rest_name{
  z-index: 100;
  font-size: 30px;
  display: inline-block;
  width: 50%;
  margin: 130px 10%;
  text-align: left;
}
